### VisualStudioCode ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

# Arquivos executáveis
*.exe

# Arquivos de objeto compilados
*.o

*.test/